@import "../styles/variables.scss";
@import "../styles/colors.scss";

.base-container{
    display: flex;
    flex-direction: row;
    position: relative;

    .content-container{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 100vh;
        background-color: $light-grey;
        padding: 30px;
        margin-left: 255px;
    }

    .content-title{
        height: 50px;
        width: 100%;
        margin-bottom: 55px;
    }

    .content{
        width: 100%;
        flex-grow: 1;
    }
}

#api-message-id{
    position: fixed !important;
    bottom: 20px !important;
    display: flex;
    width: 100% !important;
    justify-content: center;
}