@import "../styles/variables.scss";

.errorMessageFixed{
    position: fixed;
    bottom: $message-box-bottom;
    margin: 10px auto !important;
    width: $message-box-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px !important;
    svg{
        cursor: pointer;
    }
    div{
        margin: 5px;
    }
}

.errorMessage{
    margin: 10px auto !important;
    width: $message-box-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px !important;
    div{
        margin: 5px;
    }
    svg{
        cursor: pointer;
    }
}