.more-actions-container{
    height: 120px;
    width: 250px;
    background-color: #222D31;
    z-index: 100;
    position: absolute;
    right: 35px;
    top: 10px;
    border-radius: 8px;
    color: #222D31;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-container{
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #F2F2F2;
        z-index: 1000;
    }
    .text-container:hover{
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(159, 162, 180, 0.15);
    }
    .break-line{
        width: 100%;
        border-bottom: 1px solid white;
    }
}