.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .button-container{
        min-width: 200px;
    }
    .pagination-container{
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    
        .paragraph-label{
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: #9FA2B4;
            padding: 0;
            margin: 0 10px 0 50px;
        }
    
        .rows-select{
            outline: none;
            border: none;
            background-color: #FFFFFF;
        }
    
        .img-container{
            cursor: pointer;
        }
    
        .img-container-disabled{
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
