.table-container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}