.form-container{
    width: 70%;
    margin: auto;

    .form-container-inputs{
        display: flex;
        flex-direction: row;
        .form{
            flex-grow: 1;
            margin-right: 40px;
        }
        img{
            cursor: pointer;
        }
    }

    @media (max-width: 1024px) {
        .form-container-inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form {
                flex-grow: 1;
                width: 100%;
                margin-right: 0px;
            }
            img {
                margin: 30px;
                cursor: pointer;
            }
        }
    }

    .button-container{
        margin: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button{
            margin-right: 20px;
        }
    }
}